* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

@font-face {
  font-family: 'PixelFont';
  src: url('../assets/fonts/04b_19.ttf') format('truetype'); 
}

/* MOBILE COMPATIBILITY */
/* Disable double-tap to zoom */
* {
  -ms-touch-action: manipulation; /* IE 10 */
  touch-action: manipulation;     /* Others */
}

/* Disable reloading when over-scrolling */
html, body {  
  overscroll-behavior: none;
}